#user_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#box_create_form{
    padding: 1rem;
    border: solid 1px #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-block: 10px;
}