---
import Navbar from "../components/astro/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import App from '../App'
---

<Layout title="registrarse" >
    <section>
        <Navbar/>
        <h2>registrate</h2>
        <p>completa los datos para crear tu usuario</p>
        <App page={'create'} />
    </section>
</Layout>

<style>
    section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 6rem;
        margin-bottom: 4rem;
        width: 100%;
        overflow: hidden;
    }
</style>