---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";


---
<Layout title="Crear usuario">
    <section>
        <Navbar/>
        <h2>Crear usuario</h2>
        <h3>completa los datos para crear tu usuario</h3>
    </section>
</Layout>

<style>
    section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 90vh;
            width: 100%;
        }
</style>