---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>todo para tu bebe</h1>
		<h3>Hacemos envios a dominicilio atravez de mercado pago</h3>
	</main>
</Layout>

<style>
	main {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		max-width: calc(100% - 2rem);
		max-height: calc(100% - 2rem) ;
		font-size: 20px;
		height: calc(100vh - 2rem);
	}
</style>
