---
import Button from '../components/Button.astro';
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Todo para tu bebe ">
	<main>
		<Navbar/>
		<h1>todo para tu bebe</h1>
		<h3>Hacemos envios a dominicilio atravez de mercado pago</h3>
		<div class="box_buttons" >
			<Button color='default' url='/home' children="ingresar" />
			<p>or</p>
			<Button color='gradient' url='/singin' children="registrarse" />
		</div>
	</main>
</Layout>

<style>
	main {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		max-height: calc(100% - 2rem) ;
		font-size: 20px;
		height: calc(100vh - 2rem);
	}
	.box_buttons{
		margin-top: 15px;
		width: 500px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
</style>
