---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import ValidateEmail from '../components/forms/validateEmail/ValidateEmail';
---
<Layout title="Singin" >
    <section>
        <Navbar/>
        <h2>registrarse</h2>
        <h3>vamos a pedirte el email para validar tu identidad</h3>
        <ValidateEmail client:only />
    </section>
</Layout>

<style>
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        width: 100%;
    }
</style>