---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import ValidateEmail from '../components/forms/ValidateEmail'
---
<Layout title="Validate" >
    <section>
        <Navbar/>
        <div class="box_validate" >
            <div class="tittle" >
                <h2>registrarse</h2>
                <p>vamos a pedirte el email para validar tu identidad</p>
            </div>
            <ValidateEmail client:only />
        </div>
    </section>
</Layout>

<style>
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        width: 100%;
    }
    .tittle{
        margin-right: 20px;
        h2,p{
            margin: 0;
        }
    }
    .box_validate{
        display: flex;
        align-items: center;
        border: solid 1px #ffffff;
        padding-block: 1rem;
        padding-inline: 2rem;
        border-radius: 20px;
    }
</style>