.email_form{
    display: flex;
    align-items: center;
}
.email_box_input{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    p{  
        position: absolute;
        z-index: 10;
        font-size: .6rem;
        color: #ff6262;
        bottom: -15px;
        left: 15px;
    }
}
.email_box_loader{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-45%);
}