.navbar_section{
    z-index: 10;
    position: fixed;
    display: flex;
    right: 50%;
    width: 1000px;
    padding: 10px;
    transform: translate(50%, 50% );
    border-radius: 30px;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
}
.navbar_section::before{
    position: absolute;
    top: -100%;
    content: '';
    height: 100%;
    width: 100%;
    background-color: #e4e4e4d3;
}
.navbar_section::after{
    position: absolute;
    top: 100%;
    content: '';
    height: 50%;
    width: 100%;
    background: linear-gradient(-180deg, #E4E4E4,#ffffff00);
}
.nav_profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:radial-gradient(circle 40px at left top,#60B49E,#41AFCB,#A1CED9);
}
.nav_box_pages{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
}