---
const { url, children, color } = Astro.props
---

<a class={color} href={url}>
	<p>{children}</p>
</a>

<style>
	a{
		height: 45px;
		width: 220px;
		border-radius: 10px;
		color: #003550;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.gradient{
		background:radial-gradient(circle 220px at left top,#60B49E,#41AFCB,#A1CED9);
		color: #FFFEFF;
	}
	.default{
		background-color: #FFFEFF;
	}
</style>
