body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E4E4E4;
  color: #003550;
  display: grid;
  justify-content: center;
  align-items: center;
}
h1{
  font-family: "Rozha One", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
h2{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  font-size: 1rem;
}
button{
  outline: none;
  border: none;
}
p{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  font-size: .9rem;
}
a{
  color: #003550;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  font-size: .8rem;
}
input{
  outline: none;
  border: none;
  height: 20px;
  padding: 11px;
  width: 250px;
  margin: 3px;
  color: #003550;
  border-radius: 20px;
}