body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E4E4E4;
  color: #003550;
  display: grid;
  justify-content: center;
  align-items: center;
}
h1{
  font-family: "Rozha One", serif;
  font-weight: 400;
  font-style: normal;
}
h2{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}